{% extends 'oleksi/home.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'oleksi/css/proj1.css' %}">
<h3> My Plans For Future </h3>
<img src="{% static 'oleksi/pics/me.png' %}" alt="My image">

<p><h2>

  For now im looking for a job to pay for my college. In my closest future im going to

  learn even more and get even more experience of web development to became a senyor and earn mountains of money.

</h2></p>
<a href="/">   Come back   </a>

{% endblock %}
