{% extends 'oleksi/home.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'oleksi/css/proj1.css' %}">
<h3>📝 Project Description — Fast_Blast Telegram Bot</h3>
<img src="{% static 'oleksi/pics/fast_blast.jpg' %}" alt="My image">


<p>
📝 <strong>Project Description — Fast_Blast Telegram Bot</strong>
</p>

<p>
Fast_Blast is a Telegram e-commerce assistant bot developed in <strong>Python</strong>.
The bot was built for an online store to streamline the ordering process and improve customer interaction.
</p>

<h3>With Fast_Blast, users can easily:</h3>
<ul style="list-style-type:none; padding-left: 0;">
    <li>Browse available products</li>
    <li>View discounts and special offers</li>
    <li>Place orders for selected items</li>
    <li>Submit delivery information directly inside Telegram</li>
    <li>Receive order confirmations from the system</li>
</ul>

<p>
The bot integrates an intuitive step-by-step flow, making the purchasing experience simple and user-friendly.
It was implemented using the <strong>python-telegram-bot</strong> library and follows clean, modular architecture principles, ensuring maintainability and scalability for future upgrades.
</p>

<p>
Fast_Blast demonstrates efficient automation of online store operations by reducing manual processing and enabling direct product ordering through a messenger platform.
</p>

<p>
Here is the telegram tag of my bot: <a href="https://t.me/Fast_Blast_bot" target="_blank">@Fast_Blast_bot</a>
</p>

<a href="/">   Come back   </a>

{% endblock %}
