<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<img src="static/img.png">
<h3>Етот сайт написан мной специально для моей ЛУТШЕЙ И ЛЮБИМЕЙШЕЙ подруги в знак того насколько сильно я ее люблю и ценю.</h3>

<h5> Сколько раз я хотел обнять Єву пока она не рядом: {{num}}</h5>

<p><h2>ЄВКАА, спасибо тебе за все, за время которое ти проводиш со мной, та и вообще за то што ти такая крутая. Прошу, знай что для тебя я ВСЕГДА рядом, ВСЕГДА готов помочь с чем би то не било,
    что я НИКОГДА тебя не осужу и не подумаю что ти плохой человек, я прийму тебя такой - какой ти есть.</h2> </p>
</body>
</html>