<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<img src="static/img.png">
<h3>Етот сайт написан мной специально для моей лутшей подруги в знак того насколько сильно я ее люблю и ценю.</h3>
<form action="/" method="post">

    <label>Сколько раз я хотел обнять Єву пока ее нет рядом:</label>
    <input  name="count", type="hidden", value="1">
    <button type="submit">Обнять</button>
</form>
{{num}}
<p><h2>Я хочу виразить свою благодарность за всю помощь, и в особенности поддержку которую ти проявляла на протяжении всего времени.
    Спасибо что ти такая тактильная и позволяеш себя обнимать. Прошу, знай что для тебя я ВСЕГДА рядом, ВСЕГДА готов помочь с чем би то нибило,
    что я НИКОГДА тебя не осужу и не подумаю что ти плохой человек, я прийму тебя такой - какой ти есть.</h2> </p>
</body>
</html>